@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 70px;
  width: 60%;
  background: #e5b05a;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese {
  height: 7px;
  width: 60%;
  background: #f2c120;
  border-radius: 2px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.tomato {
  height: 15px;
  width: 55%;
  background-color: #dd3710;
  border-bottom: solid 5px rgba(0,0,0,.1);
}

.meatball {
  height: 60px;
  width: 70px;
  background: #74380d;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.patty {
  height: 35px;
  width: 65%;
  background: #ad370b;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle {
  height: 30px;
  width: 50%;
  background: #3ac67d;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #2d9961;
}

.onion {
  width: 40%;
  background-color: #a039bf;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.bun-bottom {
  height: 35px;
  width: 60%;
  background: #e5b05a;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 25px;
  width: 80%;
  background: #656565;
  border-radius: 20px 20px 200px 200px;
}


.bun-top2 {
  height: 70px;
  width: 60%;
  background: #cd9334;
  border-radius: 100px 100px 32px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese2 {
  height: 7px;
  width: 60%;
  background: #ffd500;
  border-radius: 2px;
  border-bottom: solid 4px rgba(205, 147, 52, 0.44);
}

.tomato2 {
  height: 15px;
  width: 55%;
  background-color: #e53516;
  border-bottom: solid 5px rgba(0,0,0,.1);
}

.patty2 {
  height: 35px;
  width: 55%;
  background: #5f1c01;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle2 {
  height: 20px;
  width: 50%;
  background: #136f22;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #0c4c0e;
}

.lettuce {
  height: 5px;
  width: 60%;
  background-color: #39c639;
  border-radius: 10px;
  border-bottom: dotted 5px #1ea41e;
}


.onion2 {
  width: 50%;
  background-color: #971983;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.bun-bottom2 {
  height: 35px;
  width: 60%;
  background: #cd9334;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate2 {
  height: 25px;
  width: 80%;
  background: #42452b;
  border-radius: 20px 20px 200px 200px;
}


